@model Medicines.Models.Medicine

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Medicine</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorId, "Doctor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DoctorId", String.Empty)
            @Html.ValidationMessageFor(model => model.DoctorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Medicine_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Medicine_Name)
            @Html.ValidationMessageFor(model => model.Medicine_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dose)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dose)
            @Html.ValidationMessageFor(model => model.Dose)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MedicineArtUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MedicineArtUrl)
            @Html.ValidationMessageFor(model => model.MedicineArtUrl)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
