@model IEnumerable<Medicines.Models.Medicine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            User
        </th>
        <th>
            Doctor
        </th>
        <th>
            Medicine_Name
        </th>
        <th>
            Dose
        </th>
        <th>
            MedicineArtUrl
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicineArtUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicineId })
        </td>
    </tr>
}

</table>
